.card__container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	align-items: center;
	flex-wrap: wrap;
}
.inner__container {
	display: flex;
	gap: 0.6rem;
	justify-content: space-between;
	min-width: none;
	width: 100%;
}
.btn__container {
	display: flex;
	gap: 0.6rem;
	color: var(--gray-1);
}
@media screen and (min-width: 425px) {
	.inner__container {
		justify-content: flex-end;
		width: 40%;
	}
}
